.line{
    width: 80%;
    margin: auto;
}
#mid1{
    width: 80%;
    margin: auto;
    padding: 70px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: rgb(91, 91, 91);
}
.head{
    text-align: center;
    line-height: 20px;
    margin-bottom: 20px;
}
.head h3{
    color: #ff763f;
}
#mid2{
    width: 80%;
    margin: auto;
}
#mid2 img{
    width: 100%;
}
#mid3{
    width: 80%;
    margin: auto;
    padding: 70px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: rgb(91, 91, 91);
}
#mid3 p>a{
    color: black;
}
#mid3 p>a:hover{
    color:#ff763f;
}
.head{
    text-align: center;
    line-height: 20px;
    margin: 20px;
}
.head h3{
    color: #ff763f;
}
#mid4{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;
}
#mid4 p{
    font-size: 23px;
    color: rgb(45, 44, 44);
}
#mid4 button{
    border: 1px solid #ff763f;
    padding: 15px 75px;
    font-size: 20px;
    color: #ff763f;
    border-radius: 5px;
    margin: 15px 0;
}
#mid4 button:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
}