*{
    margin: 0;
}
#top_part{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#top_section{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 100px;
}
#top_section img{
    height: 450px;
}
#top_section h1+h1{
    font-size: 50px;
}
#top_section>div>h1+h1{
    margin-bottom: 30px;
}
#top_section h2{
    font-size: 25px;
    width: 100%;
    margin-bottom: 70px;
}
#top_section button{
    background-color: #ff763f;
    border: none;
    padding: 18px 63px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    margin-bottom: 30px;
}
#top_section button:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
}
#top_section p{
    font-size: 21px;
}
#top_section{
    color: rgb(107, 104, 104);
}
#top_section p>a{
    color: black;
}
#top_section p>a:hover{
    color:#ff763f;
}
#colo{
    background-color: #f8f8f8;
    width: 100%;
}
#mid1{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#mid1 p{
    margin: 20px;
}
#mid1>p+div{
    margin-top: 20px;

}
#mid1>div{
    display: flex;
    justify-content: space-between;
}
#mid1 img{
    width: 180px;
}
#mid1 p{
    text-align: center;
    font-size: 25px;
    color: rgb(52, 52, 52);
}
#mid1 :last-child{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#mids1{
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 100px 0;
    line-height: 30px;
}
#mids1 h1,h2{
    color: rgb(52, 52, 52);
}
#mids1 p{
    font-size: 21px;
    padding: 20px;
}
.head_mid p{
    width: 41%;
    margin: auto;
    color: rgb(52, 52, 52);
}
.head_mid+div{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 50px; 
}
.head_mid+div img{
    width: 90px;
}
.head_mid+div>div{
    width: 80%;
    color: rgb(52, 52, 52);
}
.head_mid+div :first-child>img{
    width: 95px;
}
#colo1{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#mids2{
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 100px 0;
    line-height: 30px;
}
.head_mid2 h1,h2,p{
    color: rgb(75, 75, 75);
}
#mids2 p{
    font-size: 21px;
    padding: 18px;
}
.head_mid2 p{
    width: 41%;
    margin: auto;
    color: rgb(52, 52, 52);
}
.head_mid2+div{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 30px; 
}
.head_mid2+div img{
    width: 90px;
}
.head_mid2+div>div{
    color: rgb(52, 52, 52);
}
.head_mid2+div :nth-child(5)>img{
    width: 105px;
}
#par{
    width: 55%;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}
#colo2{
    background-color: #f8f8f8;
}
#par h1{
    padding: 70px;
}
#par button{
    background-color: #ff763f;
    border: none;
    padding: 18px 63px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    margin-bottom: 30px;
}
#par button:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
}
#colo3{
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 100px;
}
#colo3 img{
    width: 80%;
}
#colo3 p{
    font-size: 20px;
    padding: 50px ;
}
#colo4{
    padding: 70px;
    text-align: center;
    line-height: 50px;
}
#colo5{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#colo5 :last-child{
    width: 430px;
    font-size: 20px;
    color: #000;
}
#colo5 :last-child :first-child{
    margin-bottom: 20px;
}
#colo5 :first-child{
    width: 450px;
    margin-top: 50px;
}
#colo5>div:first-child {
    color: #ff763f;
}

#colo5 :first-child img{
    width: 180px;
    margin: 50px 0 0 90px;
    
}
#colo6{
    width: 70%;
    margin: auto;
    margin-top: 100px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#colo6>div{
    width:400px
}
#colo6 p{
    font-size: 20px;
}
#colo6>div :nth-child(2){
    margin-top: 30px;
}
#colo6>:nth-child(2){
    width: 530px;
    color: #ff763f;
}
#colo6 img{
    width: 200px;
    margin: 150px 0 0 150px;
}
#colo7{
    width: 100%;
    background-color: #f8f8f8;
}
#inter{
    width: 70%;
    margin: auto;
    margin-top: 100px;
    padding: 60px;
    display: flex;
    justify-content: space-between;
}
#inter div{
    width: 600px;
}
#inter :first-child img{
    width: 400px
}
#inter :last-child{
    text-align: center;
    
}
#inter :last-child img{
    width: 300px;
    margin-bottom: 40px;
}
#inter h2,p{
    margin-bottom: 30px;
}
#inter p{
    font-size: 21px;
}
#inter button{
    background-color: white;
    border: 1px solid green;
    padding: 18px 63px;
    font-size: 20px;
    color: green;
    border-radius: 5px;
    margin-bottom: 30px;
}
#inter button:hover{
    background-color: rgb(241, 238, 238);
    cursor: pointer;
}
#colo8{
    padding: 100px;
    color: rgb(75, 75, 75);
    text-align: center;
}
#ino{
    width: 37%;
    margin: auto;
}
#ino p{
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
}
#colo8 img{
    width: 70%;
    margin: 50px;
}
#colo8 img+p{
    width: 70%;

    margin: auto;
    margin: 50px auto;
    font-size: 20px;
    line-height: 28px;
}
#colo8 button{
    background-color: white;
    border: 1px solid #ff763f;
    padding: 15px 70px;
    font-size: 20px;
    color:#ff763f;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#colo8 button:hover{
    background-color: rgb(241, 238, 238);
    cursor: pointer;
}
#colo8 p>a{
    color: #000;
}
#colo8 p>a:hover{
    color:#ff763f;
}
#colo9{
    text-align: center;
    padding: 50px;
}
#colo9 p{
    font-size: 20px;
    text-align: center;
}
#colo9 button{
    background-color: white;
    border: 1px solid #ff763f;
    padding: 15px 70px;
    font-size: 20px;
    color:#ff763f;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#colo9 button:hover{
    background-color: rgb(241, 238, 238);
    cursor: pointer;
}




